# Next JS 보안문제로 인한 가장 최근의 Image pull
image:
  repository: gethomepage/homepage
  tag: "v1.8.0"
  pullPolicy: Always

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - host: home.jay-gemini.com
      paths:
        - path: /
          pathType: Prefix

configs:
  params:
    server.insecure: true
